In [1]:
import pandas as pd

# 讀取與保存數據

In [19]:
import pandas as pd
df = pd.read_excel("Data/體檢數據.xlsx")
df_index_col = pd.read_excel("Data/體檢數據.xlsx", index_col=0)  # 使用數據中的第0個column當作index
print('df:\n', df)
print('\ndf_index_col:\n', df_index_col)

df:
    学号  姓名   身高  体重   肺活量
0   1  小明  168  60  3200
1   2  小黄  187  80  3800
2   3  小花  170  70  3400

df_index_col:
     姓名   身高  体重   肺活量
学号
1   小明  168  60  3200
2   小黄  187  80  3800
3   小花  170  70  3400

In [15]:
df.loc[2, "体重"] = 1
print('df:\n', df, '\n')
df.to_excel("Data/體檢數據_修改.xlsx")
pd.read_excel("Data/體檢數據_修改.xlsx", index_col=0)

df:
    学号  姓名   身高  体重   肺活量
0   1  小明  168  60  3200
1   2  小黄  187  80  3800
2   3  小花  170   1  3400

   学号  姓名   身高  体重   肺活量
0   1  小明  168  60  3200
1   2  小黄  187  80  3800
2   3  小花  170   1  3400

In [20]:
with open("Data/體檢數據.csv", "r", encoding="utf-8") as f:
    print(f.read())
df_csv = pd.read_csv("Data/體檢數據.csv", index_col=0, sep=",")
df_csv

﻿学号,姓名,身高,体重,肺活量
1,小明,168,60,3200
2,小黄,187,80,3800
3,小花,170,70,3400

    姓名   身高  体重   肺活量
学号
1   小明  168  60  3200
2   小黄  187  80  3800
3   小花  170  70  3400

In [21]:
df_csv.to_csv("Data/體檢數據_修改1.csv")
df_csv.to_excel("Data/體檢數據_修改1.xlsx")

print(pd.read_csv("Data/體檢數據_修改1.csv"))
print(pd.read_excel("Data/體檢數據_修改1.xlsx"))

   学号  姓名   身高  体重   肺活量
0   1  小明  168  60  3200
1   2  小黄  187  80  3800
2   3  小花  170  70  3400
   学号  姓名   身高  体重   肺活量
0   1  小明  168  60  3200
1   2  小黄  187  80  3800
2   3  小花  170  70  3400